

H2 {
    font-size: x-large;

}


H3 {
    font-size: medium;
    text-align: center;
    margin-top: 20px;
}

P {
 text-align: center;
 color: rgb(0, 240, 200);

}
.FindOut {

        padding: 3rem;
        background-color: rgb(55,142,131);
        color: white;
        text-align: center;
}

.ButtonFind {

    margin-top: 25px;
    background-color: rgb(55,142,131);
    color: white;
    border: 1px solid rgb(0, 240, 200);
}